/*.container {*/
/*    display: flex;*/
/*    ;*/
/*}*/

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav>ul {
     margin: 0;
 }

.offset-2 {
    margin-left: 100px;
}

.btn {

}

.jumbotron {
    height: 346px;
    background-image: url("/img/pizza-jumbo.png");
    background-size: cover;
}

.banner {
    align-content: center;
}

.card {
    margin: 0;
    width: 100%;
}

.card-body {
    width: 100%;
}